@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
     background: #020024;
    display: grid;
    place-items: center;
    margin: auto;
}
.container_fuild {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    text-align: start;
    box-shadow: rgb(0, 242, 255) 0px 10px 20px -10px;
    border-radius: 20px;
     border: 1px solid rgb(0, 242, 255) ;
    
}
.container_fuild:hover{
    border: 1px solid rgb(0, 242, 255) ;
      box-shadow: 5px 5px 25px 5px rgb(0, 242, 255);
     border-radius: 20px;
   

}

.heads {
     font-family: "Poppins", sans-serif;
    text-align: center;
    color: #06f5ed;
    padding: 20px;
  text-shadow:   1px 1px 2px #06f5ed, 0 0 25px rgb(13, 186, 221), 0 0 5px rgb(0, 217, 255);
}

.container {
   
    display: flex;
    flex-direction: column;
     padding: 5px; 
     margin: 5px; 
    
}

.container label {
     font-size: 1rem;
    color: antiquewhite;
     font-family: "Poppins", sans-serif;
}


.container input {
        font-size: 1rem;
    border-radius: 10px;
     margin: 5px;
    padding: 7px;
    width: 300px;
     font-family: "Poppins", sans-serif;
    
    

}

.container button {
     font-size: 1rem;
    color: rgb(8, 7, 7);
    margin: 5px;
    padding: 7px;
    width: 300px;
    border-radius: 10px;
     font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)
    
}
.containers {
   
    display: flex;
    flex-direction: column;
     /* padding: 5px;  */
     /* margin: 5px;  */
    
}
.containers p a{
    font-size: 1rem;
    color: #06f5ed;
    text-decoration: none;
     font-family: "Poppins", sans-serif;
}


.containers p {
     margin: 2px;
    padding: 2px;
    font-size: 1rem;
    color: white;
     font-family: "Poppins", sans-serif;
}



.container .error {
    color: red;
    font-size: 1rem;
    
}





@media (max-width: 548px) {
  
.container_fuild {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: start;
    box-shadow: rgb(0, 242, 255) 0px 10px 20px -10px;
    border-radius: 20px;
    border: 1px solid rgb(0, 242, 255);
}
.container label {
    margin-left: 10px;
    padding: 10px;
    font-size: 1rem;
    color: antiquewhite;
    font-family: "Poppins", sans-serif;
}
.container input {
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 20px;
    /* margin: 10px; */
    padding: 7px;
    width: 250px;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.container button {
    font-size: 1rem;
    color: rgb(8, 7, 7);
    margin-left: 20px;
    /* margin: 5px; */
    padding: 7px;
    width: 250px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
}

.container .error {
    color: red;
    font-size: 1rem;
    margin-left: 20px;
}

}